/* line 1, ../scss/_content.scss */
body {
  color: #333;
}

/* line 6, ../scss/_content.scss */
article h3 {
  margin-bottom: 0;
}
/* line 9, ../scss/_content.scss */
article p {
  margin-top: 0;
}

/* line 14, ../scss/_content.scss */
img {
  padding: 15px;
}

/* line 18, ../scss/_content.scss */
a {
  text-decoration: none;
  color: #00b957;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: all 2s linear;
  -o-transition-duration: all 2s linear;
  -webkit-transition-duration: all 2s linear;
  transition-duration: all 2s linear;
}

/* line 25, ../scss/_content.scss */
a:hover {
  text-decoration: none;
  color: #333;
}

/* line 30, ../scss/_content.scss */
footer {
  color: #CCC;
  font-size: 13px;
  margin-bottom: 25px;
  margin-top: 50px;
  text-align: center;
}
/* line 37, ../scss/_content.scss */
footer a {
  color: #CCC;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* line 44, ../scss/_content.scss */
  p, blockquote {
    line-height: 27px;
  }
}
@media screen and (min-width: 992px) {
  /* line 50, ../scss/_content.scss */
  p, blockquote {
    line-height: 28px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 56, ../scss/_content.scss */
  p, blockquote {
    line-height: 30px;
  }
}
