body {
    color: $color-primary;
}

article {
    h3 {
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
}

img {
    padding: 15px;
}

a {
    text-decoration:none;
    color: $color-accent;
    @include transition-property(color);
    @include transition-duration(all 2s linear);
}

a:hover {
    text-decoration:none;
    color: $color-primary;
}

footer {
    color: $color-light;
    font-size:13px;
    margin-bottom: 25px;
    margin-top: 50px;
    text-align: center;

    a {
        color: $color-light;
    }
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    p, blockquote {
        line-height: 27px;
    }
}

@media screen and (min-width: 992px) {
    p, blockquote {
        line-height: 28px;
    }
}

@media screen and (min-width: 1200px) {
    p, blockquote {
        line-height: 30px;
    }
}