body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-size:16px;
    text-align:justify;
    background-color: $color-bg;
    color: $color-primary;
}

html, body, #container { height: 100%; }
body > .container { height: auto; min-height: 100%; }

.container-fluid {
    padding-left:0;
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {
        padding:0;
    }

    .container-fluid {
        padding:0;
    }
}

.span9 {
    .span4 {
        margin:0;
        margin-left:0;
    }
}

.note {
    color: red;
}

.date {
    color: #ccc;
}

p {
    line-height: 1.8em;
}

.top-separate {
    border-top: 1px solid #ccc;
}

h1 {
    color: $color-accent;
    font-size:36px;
}

a {
    text-decoration:none;
    color: $color-accent;
    @include transition-property(color);
    @include transition-duration(all 2s linear);
}

a:hover {
    text-decoration:none;
    color: $color-primary;
}

article {
    h4 {
        color: $color-accent;
    }
}

.sidebar {
    @include background-image(linear-gradient($color-accent 85%, $color-bg));
    color:$color-bg;

    .row {
        padding:20px;
        padding-bottom:0;
        margin:0;

        &.border {
            padding-bottom:20px;
            border-bottom:1px solid white;
        }
    }

    .row:last-child {
        padding-bottom:75px;
    }

    .copy {
        font-size: 12px;
        text-align:center;
        color: #ccc;
        display:block;
    }

    img.profile {
        @include transition-property(rotate);
        @include transition-duration(0.25s);
        @include rotate(0deg);
        @include border-radius(100px);
        padding:0;
        text-align:center;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    img.profile:hover {
        @include rotate(20deg);
        @include border-radius(0px);
    }

    img {
        @include transition-property(rotate);
        @include transition-duration(0.25s);
        @include rotate(0deg);
        padding:0;
        text-align:center;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    img:hover {
        @include rotate(20deg);
    }

    a:hover {
        text-decoration:none;
        color: $color-primary;
    }

    h1 {
        text-align:center;
        margin:0;

        a:hover {
            color:$color-primary;
        }
    }

    .span4 {
        margin-left:0;
    }

    a {
        color: #ccc;
        @include transition-property(color);
        @include transition-duration(all 2s linear);
        text-decoration:none;

        &.home {
            color:$color-bg;
        }
    }

    a:hover {
       color: $color-bg;
    }

    p {
        margin:0;
    }

    ul.connect {
        margin:0;
        padding:0;

        li {
            display:inline;
            margin-top:0;
        }
    }

    ul {
        margin:auto;
        padding:0;
        list-style-type: none;

        li {
            margin-top:10px;

            &:first-child {
                margin-top:0;
            }

            &.active {
                a {
                    color:$color-bg;
                }
            } 
            a {
                font-size:16px;
                text-align:center;
                display:block;

                img {
                    width:30px;
                }
            }
        }
        li:fist-child {
            padding-left:0;
        }
    }
}