<!doctype html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Phillip Whisenhunt - Software Engineer">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="stylesheet" href="https://use.typekit.net/kxr5nkw.css">
        <link rel="stylesheet" href="https://use.typekit.net/kxr5nkw.css">
    </head>
    <body>
        <div class="container">
            <nav class="main-nav">
                <ul class="nav-menu-links">
                    <li class="nav-menu-item"><a href="#personal-information-section">About</a></li>
                    <li class="nav-menu-item"><a href="phillip.whisenhunt.resume.pdf" target="_blank">Resume</a></li>
                    <li class="nav-menu-item"><a href="#writing-section">Writings</a></li>
                    <li class="nav-menu-item"><a href="#contact-section">Contact</a></li>
                </ul>

                <ul class="nav-menu-social-links">
                    <li class="nav-menu-item"><a href="https://www.linkedin.com/in/whisenhunt" target="_blank">Linkedin</a></li>
                    <li class="nav-menu-item"><a href="https://github.com/pwhisenhunt" target="_blank">Github</a></li>
                    <!-- <li class="nav-menu-item"><a href="">medium</a></li> -->
                </ul>
            </nav>
            {{ content }}
        </div>
        <div class="background-image-container"></div>
    </body>
</html>
