<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <!--
    Checking out the source code? This is just standard bootstrap markup, nothing special.
    -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{% if page.description %} {{ page.description }} {% endif %} Thoughts on Software Development and Life">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.author.name }} | Thoughts on Software Development and Life</title>
        <link href="/css/main.min.css" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="navbar-left">
                                    <a href="/" alt="pwhisenhunt.com Home">
                                        <h1>{{ site.author.name }}</h1>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li {% if page.active == "articles" %} class="active" {% endif %}>
                                    <a href="/">ARTICLES</a>
                                </li>
                                <li {% if page.active == "consulting" %} class="active" {% endif %}>
                                    <a href="/consulting" alt="{{ site.author.name }} Consulting">CONSULTING</a>
                                </li>
                                <li {% if page.active == "speaking" %} class="active" {% endif %}>
                                    <a href="/speaking" alt="{{ site.author.name }} Speaking">SPEAKING</a>
                                </li>
                                <li {% if page.active == "about" %} class="active" {% endif %}>
                                    <a href="/about">ABOUT</a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>{{ page.title }}</h2>
                    {{ content }}
                </div>
            </div>

            <footer class="row">
                <div class="col-md-12"> 
                    <p>
                        <a href="https://github.com/pwhisenhunt/pwhisenhunt.github.com" alt="{{ site.author.name }} Website Repository">
                        Fork This Website!
                        </a>This website was built using awesome open source projects <a href="https://github.com/mojombo/jekyll" alt="Jekyll">Jekyll</a>, <a href="http://getbootstrap.com/" alt="Twitter Bootstrap">Twitter Bootstrap</a>, <a href="http://gruntjs.com/" alt="Grunt.js">Grunt.js</a>, <a href="http://sass-lang.com/" alt="SASS">SASS</a>, and <a href="http://html5boilerplate.com/" alt="HTML5 Boilerplate">HTML5 Boilerplate</a>.
                        This website does not reflect the opinions of my past or present employers.
                    </p>
                </div>
            </div>
        </div>
        <script src="/js/main.min.js"></script>
    </body>
</html>