---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="date">Crafted by Phillip Whisenhunt on {{ page.date | date: "%b %d, %Y" }}</p>
{{ content }}
<p>
    If you liked this article you should follow me <a href="https://twitter.com/pwhisenhunt" alt="Phillip Whisenhunt twitter">@pwhisenhunt</a>. Until next time . . . Namaste :)
</p>
{% if page.comments %}
    <h3>Share</h3>
    <a href="https://twitter.com/share" class="twitter-share-button" data-related="pwhisenhunt">Tweet</a>

<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="250"></div>

<!-- Place this tag after the last +1 button tag. -->

    <h3>Comments</h3>
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="/js/application.js"></script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}